body{
  background-color: black;
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  opacity: .9;
}


header {
  display: flex;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  border: 1px solid white;
}
.headerimg{
  width: 50px;
  height: 10px;
}
.headernav span{
    display: inline-block;
    padding: 20px 10px;
  }
