body{
  background-color: black;
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  opacity: .9;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  border-bottom: 1px solid seashell;
  padding-bottom: 28px;
  height: 69px;
  width: 100%;
  background-color: black;
}

.headerimg{
  width: 50px;
  height: 10px;
}

.headernav{
  padding-top: 30px;
  padding-right: 20px;
  text-decoration: underline;
}

.content{
  padding-top: 100px;
}
.ourmission{
  display: flex;
  align-items: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  width: 100%;
  height: 700px;
  margin: 0 auto;
}
.ourmissiontext{
  background-color: black;
  flex-grow: 1;
}

.teaofthemonth{
  margin: 0 auto;
  width: 80%;
}
.tea img{
  height: 200px;
  width: 300px;
}
.teaitems .firstrow{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.teaitems .secondrow{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
